bcrypt==5.0.0
cffi==2.0.0
cryptography==46.0.5
invoke==2.2.1
keyboard==0.13.5
mouse==0.7.1
mss==10.1.0
numpy==2.4.3
opencv-python==4.13.0.92
paramiko==4.0.0
pillow==12.1.1
pycparser==3.0
PyNaCl==1.6.2
python-xlib==0.33
PyUserInput==0.1.11
six==1.17.0
unix==1.0
xlib==0.21
